<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zms.dao.api.UserDao">
    <resultMap id="queryUser" type="com.zms.domin.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="realname" property="realName" jdbcType="VARCHAR"/>
        <result column="createtime" property="createTime" jdbcType="VARCHAR"/>
        <result column="logintime" property="loginTime" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="base_user_sql">
        id,number,password,realname,createtime,logintime,phone,address,sex,ip,status,type
    </sql>
    <insert id="insertUser" parameterType="com.zms.domin.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
                id,
            <if test="number != null" >
                number,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="realName != null" >
                realname,
            </if>
            <if test="createTime != null" >
                createtime,
            </if>
            <if test="loginTime != null" >
                logintime,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="ip != null" >
                ip,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="type != null" >
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id!=null ">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="number!=null ">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="password!=null ">
               #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName!=null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="loginTime!=null">
                #{loginTime,jdbcType=VARCHAR},
            </if>
            <if test="phone!=null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address!=null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
               #{sex,jdbcType=INTEGER},
            </if>
            <if test="ip != null" >
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
               #{status,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.zms.domin.User">
        update user
        <set>
            <if test="number!=null and number!=''">
                number = #{number,jdbcType=VARCHAR},
            </if>
            <if test="password!=null and password!=''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName!=null and realName!=''">
                realname = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null and createTime!=''">
                createtime = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="loginTime!=null and loginTime!=''">
                logintime = #{loginTime,jdbcType=VARCHAR},
            </if>
            <if test="phone!=null and phone!=''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address!=null and address!=''">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="queryByNumber" resultMap="queryUser" parameterType="string">
        select
         id,number,password,realName,type
         from user where number =#{number,jdbcType=VARCHAR}
    </select>
    <select id="queryByRoleId" resultType="com.zms.domin.RoleTable" parameterType="int">
        select * from role where type=#{type}
    </select>
    <select id="queryByPermisionId" resultType="com.zms.domin.PermissionTable" parameterType="int">
        select * from permison where roleid=#{roleid}
    </select>
    <select id="queryUpdateUserMsgDao" resultType="com.zms.domin.User" parameterType="string">
        select
        <include refid="base_user_sql"/>
        from user where number =#{number,jdbcType=VARCHAR}
    </select>
    <select id="queryList" resultType="com.zms.domin.User" resultMap="queryUser">
        SELECT
        <include refid="base_user_sql"/>
        FROM user
         <where>
             1=1
             <if test="id!='' and id!=null">
                 and id=#{id}
             </if>
            <if test="number!=null and number!=''">
                and number = #{number,jdbcType=VARCHAR}
            </if>
            <if test="password!=null and password!=''">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realName!=null and realName!=''">
                and realname = #{realName,jdbcType=VARCHAR}
            </if>
             <if test="createTime!=null and createTime!=''">
                 and createtime = #{createTime,jdbcType=VARCHAR}
             </if>
            <if test="loginTime!=null and loginTime!=''">
                and logintime = #{loginTime,jdbcType=VARCHAR}
            </if>
            <if test="phone!=null and phone!=''">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="address!=null and address!=''">
                and address = #{address,jdbcType=VARCHAR}
            </if>
             <if test="sex != null and sex!='' " >
                 and sex=#{sex,jdbcType=INTEGER}
             </if>
             <if test="ip != null and ip != ''" >
                 and ip=#{ip,jdbcType=VARCHAR}
             </if>
             <if test="type != null and type != ''" >
                 and type=#{type,jdbcType=INTEGER}
             </if>
         </where>
        and status=1 order by id
    </select>
</mapper>